<ul class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
  </li>
</ul>
<h2>Task create</h2>
<form name="form1" ng-submit="addTask()" novalidate>
  <div class='row form-group'>
    <div class='col-xs-6'>
      <label for="description">Task Name</label>
      <input name="description" type="text" id="group-name-search" class="form-control" ng-model="form.description" placeholder="Enter task name" required>
    </div>
    <div class='col-xs-6'>
      <label for="business_id">Assign to Business</label>
      <div angucomplete-alt 
        id='business_id' 
        placeholder='Search businesses by name' 
        pause='500' 
        selected-object='selected.business' 
        remote-url='api/businesses/search_by_name/'
        remote-url-request-formatter='remoteUrlRequestFn'
        remote-url-data-field='items'
        title-field='name'
        minlength='4'
        input-class='form-control form-control-small angucomplete-input'
        match-class='highlight'
        field-required='true'
        field-required-class="business_id">
      </div>
    </div>
   </div>
  <div class='row form-group'>
    <div class='col-xs-6'>
      <label for="task_group_provider_name">Task group Name</label>
      <div angucomplete-alt 
        id='task_group_provider_name' 
        placeholder='Search task group by name' 
        pause='500' 
        selected-object='selected.provider_type' 
        remote-url='api/task_groups/search_by_type/'
        remote-url-request-formatter='remoteUrlRequestFn'
        remote-url-data-field='items'
        title-field='provider_type'
        minlength='4'
        input-class='form-control form-control-small angucomplete-input'
        match-class='highlight'
        field-required='true'
        field-required-class='task_group_provider_name'
        input-name='task_group_provider_name'>
      </div>
    </div>  
    <div class='col-xs-6'>
      <label for="task_group_name">Task Group</label>
      <input ng-model="form.task_group_name" id="task_group_name" disabled="disabled" class='form-control form-control-small' required>
    </div>         
  </div>

  <div class='row form-group'>
    <div class='col-xs-6'>
      <label for="assignee_id">User</label>
      <div angucomplete-alt 
        id='assignee_id' 
        placeholder='Search users by name' 
        pause='500' 
        selected-object='selected.assignee' 
        remote-url='api/users/search_by_name/'
        remote-url-request-formatter='remoteUrlRequestFn'
        remote-url-data-field='items'
        title-field='full_name'
        minlength='4'
        input-class='form-control form-control-small angucomplete-input'
        match-class='highlight'
        field-required='true'
        field-required-class='assignee_id'
        input-name='assignee_id'>
      </div>
    </div>
    <div class='col-xs-6'>
      <label for="device_id">Device</label>
      <select name="device_id" class="form-control" ng-model="form.device_id" required>Choose device
        <option ng-repeat="option in devices" value="{{option.id}}">{{option.name}}, {{option.browser}}, {{option.os}}</option>
      </select>
    </div>  
  </div>
  <br>
  <div class='pull-right-btn-collection'>
    <button type="submit"         class="btn btn-small btn-success" ng-disabled="form1.$invalid" >Save</button>
    <button ng-click='cancel()'   class="btn btn-small btn-success">Cancel</button>
  </div>
</form>
