<ul class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
  </li>
</ul>
<h2>Tasks</h2>
<div class='row'>
  <div class="col-md-5 grid-controls">
    <button ng-click='' class="btn btn-small btn-primary " disabled="true">Add Task</button>
    <button ng-click='' class="btn btn-small btn-primary" disabled="true">Assign Task</button>
    <button ng-click='' class="btn btn-small btn-warning" disabled="true">Confirm Task</button>
    <button ng-click='' class="btn btn-small btn-warning" disabled="true">Unassign Task</button>
    <button ng-click='' class="btn btn-small btn-danger" disabled="true">Delete Task</button>
  </div>
  <div class="col-md-7 grid-controls">
    <select id="task-provider-select" class="form-control" ng-model="task_type_provider" ng-change="id=task_type_provider">Task Type Provider
      <option value="%">Choose task type & provider</option>
      <option ng-repeat="option in task_types" value="{{option.provider}}%{{option.task_type}}">{{option.provider}} {{option.task_type}}</option>
    </select>
    <input id="task-provider-select" type="text" id="group-name-search" class="form-control" placeholder="Search by group name" ng-model="filters.query" >
    <div class='pull-right-btn-collection'>
      <md-datepicker id="datepicker-created-at" ng-model="created_at" md-placeholder="MM/dd/YYYY" ng-change="id=created_at"></md-datepicker>
      <button ng-click='fetchTasks(true)' class="btn btn-small btn-primary">Search</button>
      <button ng-click='clearFilters()'   class="btn btn-small btn-danger">Clear All</button>
      <button ng-click='csvExport()'      class="btn btn-small btn-success">Export to CSV</button>
    </div>
  </div>
</div>
<div id="primary-grid" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
</div>
