<ul class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
  </li>
</ul>
<h2>Tasks</h2>
<div class="btn-group pull-left">
<button ng-click='' style="background-color: #2b81af" class="btn btn-small btn-primary " disabled="true">Add Task</button>
<button ng-click='' style="background-color: #2b81af" class="btn btn-small btn-primary" disabled="true">Assign Task</button>
<button ng-click='' style="background-color: #2b81af" class="btn btn-small btn-primary" disabled="true">Delete Task</button>
<button ng-click='' style="background-color: #2b81af" class="btn btn-small btn-primary" disabled="true">Confirm Task</button>
<button ng-click='' style="background-color: #2b81af" class="btn btn-small btn-primary" disabled="true">Unassign Task</button>
<button ng-click='csvExport()' style="background-color: #2b81af" class="btn btn-small btn-primary export">Export to CSV</button>
</div>

<div class="form-inline pull-right">
  <select class="btn btn-primary dropdown-toggle vertical" ng-model="task_type_provider" ng-change="id=task_type_provider" style="background-color: #2b81af; padding-right: 5px;padding-left: 5px;">Task Type Provider
    <option value="%">Choose task type & provider</option>
    <option ng-repeat="option in task_types" value="{{option.provider}}%{{option.task_type}}">{{option.provider}} {{option.task_type}}</option>
  </select>
  <input  type="text" name="input" style="vertical-align: top; width:190px; display: inline-block" id="focusedInput" class="form-control form-inline vertical" placeholder=" search by group name" ng-model="filters.query" >
  <md-datepicker ng-model="created_at" md-placeholder="MM/dd/YYYY" ng-change="id=created_at" style="" class="vertical"></md-datepicker>
  <button ng-click='fetchTasks(true)' style="background-color: #2b81af" class="btn btn-small btn-primary vertical">Search</button> |
  <button ng-click='clearFilters()' style="background-color: #2b81af" class="btn btn-small btn-primary vertical">Clear All</button>
</div>
</div>
<br>
<div id="primary-grid" style="margin-top:25px; border: 1px solid rgb(212,212,212); min-height: 600px" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
</div>
