<h1>Tasks</h1>
<select ng-model="task_type_provider" ng-change="id=task_type_provider">
  <option ng-repeat="option in task_types" value="{{option.provider}}%{{option.task_type}}">{{option.provider}} {{option.task_type}}</option>
</select>
<input  type="text" name="input" ng-model="filters.query">
<md-datepicker ng-model="created_at" md-placeholder="Enter date" ng-change="id=created_at"></md-datepicker>
<button ng-click='fetchTasks()'>Find</button>
<div id="grid1" style="border: 1px solid rgb(212,212,212);" ui-grid="gridOptions" class="grid"></div>
