$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.vertical {
  vertical-align: top;
  padding-bottom: 5px;
  height: 34px;
}

/********* Custom css *********/
body {
  font-family: 'Open Sans';
  .header {
    padding-left: 20px;
    background-color: #2b81af;
    color: white;
    text-align: right;
  }

  header {
    font-size: 20.4px;
    text-align: left;
  }

  #primary-grid {
    .ui-grid-canvas {
      padding-top: 0;
    }
    .ui-grid-header {
      color: #707070;
      font-weight: normal;
      background: #F2F2F2;
      background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
      background-repeat: repeat-x;

      .ui-grid-header-cell {
        border-right: 2px solid;
        border-color: #ddd;
        &:hover {
          color: rgb(84, 126, 168);
        }
        .ui-grid-cell-contents {
          height: 42px;
          padding: 10px 18px;
          &:focus {
            background-image: -webkit-linear-gradient(top, #eff3f8 0%, #e3e7ed 100%);
            color: rgb(84, 126, 168);
          }
        }
      }
    }
    .ui-grid-viewport {
      cursor: pointer;
      .ui-grid-row {
        height: 38px;
        color: #3c85ce; 

        &:first-child .ui-grid-cell {
          border-top: 0;
        }
        &:nth-child(odd) {
          .ui-grid-cell {
            background: #f9f9f9;
          }
          .ui-grid-cell:first-child {
            background-color: #f1f1f1;
            text-align: center;
          }
        }
        &:nth-child(even) {
          .ui-grid-cell {
            background: #fff;
          }
          .ui-grid-cell:first-child {
            background-color: #f9f9f9;
            text-align: center;
          }
        }
        &:hover .ui-grid-cell {
          &:first-child {
            background-color: #eaeaea;            
          }
          background: #f9f9f9;
        }

        .ui-grid-cell {
          border-right: 2px solid;
          border-top: 2px solid;
          border-color: #ddd;
          height: 38px;
          .ui-grid-cell-contents {
            padding: 8px 10px;
          }
        }
      }
    }
    .ui-grid-pager-panel {
      padding: 5px 0;
      border-top: 2px solid;
      border-color: #ddd;
    }
  }
}
/*****************************/
