$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}

/********* Custom css *********/
body {
  padding: 0;
  font-family: 'Open Sans';

  header {
    font-size: 20.4px;
    text-align: left;
  }

  a:hover {
    text-decoration: none;
  }

  .breadcrumb {
    background-color: white; 
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 30px;
    margin: 0 0 0 -30px;
    a {
      font-weight: 700;
    }
  }

  .angucomplete-selected-row {
    color: #000 !important;
  }

  .angucomplete-row .highlight {
    color: #ff0000 !important;
  }

  .main-header {
    margin-bottom: 0;
    background-color: #438eb9;
    min-height: initial;
    border-radius: 0;
    .navbar-toggle {
      border-color: white;
      .icon-bar {
        background-color: white;
      }
      &:hover, &:focus {
        border-color: #333;
        background-color: white;
        .icon-bar {
          background-color: #333;
        }   
      }
    }
    .navbar-nav .open .dropdown-menu > li > a {
      color: #333;
    }
    .main-header-brand {
      font-size: 20.4px;
      color: white;
      padding: 10px 15px;
      height: initial;
      &:hover, &:focus {
        color: white;
      }
    }
    .main-navbar-menu-right {
      li {
        border-right: 1px solid white;
        &.navbar-btn-user {
          & > a {
            color: white;      
            background-color: #93cbf9;
            padding: 10px 15px;
            &:hover, &:focus {
              background-color: #579ec8;
              color: white;
            }
          }
        }
        &.navbar-btn-tasks {
          & > a {
            padding: 10px 8px;
            background-color: #555;
            &:hover, &:focus {
              background-color: #4b4b4b;
            }
            .badge {
              background-color: rgb(160, 160, 160);
              vertical-align: top;
              margin-left: 5px;
              color: white;
              padding: 3px 5px;
            }
          }
        }
        &.navbar-btn-messages {
          & > a {
            padding: 10px 8px;
            background-color: #892e65;
            &:hover, &:focus {
              background-color: #762c59;;
            }
            .badge {
              background-color: rgb(209, 91, 71);
              vertical-align: top;
              margin-left: 5px;
              color: white;
              padding: 3px 5px;
            }
          }
        }
        ul.dropdown-menu {
          color: #333;
        }
      }  
    }
    .glyphicon {
      color: white;
    }
  }

  .grid-controls {
    letter-spacing: -4px;
    & > * {
      margin: 10px 0 0 10px; 

      &#group_name_search {
        width: calc(50% - 10px);
        display: inline-block;
      }

      &#task-provider-select {
        width: calc(50% - 10px);
        display: inline-block;
      }
      &.pull-right-btn-collection {
        margin-top: 0;
        display: inline-block;
        float: right;
        & > * {
          margin: 10px 0 0 10px; 
        }
      }
    }
  }

  #primary-grid {
    margin-top: 10px; 
    border: 1px solid rgb(212,212,212);
    min-height: 600px;

    .ui-grid-canvas {
      padding-top: 0;
    }
    .ui-grid-selection-row-header-buttons {
      outline: none;
      color: rgb(112, 112, 112);
      opacity: 0.3;
      &.ui-grid-row-selected {
        color: #151515;
        opacity: 1;
      }
    }
    .ui-grid-header {
      color: #707070;
      font-weight: normal;
      background: #F2F2F2;
      background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
      background-repeat: repeat-x;

      .ui-grid-header-cell {
        border-right: 2px solid;
        border-left: 1px solid;
        border-color: #ddd;
        &:hover {
          color: rgb(84, 126, 168);
        }
        .ui-grid-cell-contents {
          height: 42px;
          padding: 11px 5px;
          &:focus {
            background-image: -webkit-linear-gradient(top, #eff3f8 0%, #e3e7ed 100%);
            color: rgb(84, 126, 168);
          }
          &:nth-child(n+2) {
            padding: 10px 18px;       
          }
        }
      }
    }
    .ui-grid-viewport {
      cursor: pointer;
      .ui-grid-row {
        height: 38px;
        color: #3c85ce; 

        &:first-child .ui-grid-cell {
          border-top: 0;
        }
        &:nth-child(odd) {
          .ui-grid-cell {
            background-color: #f9f9f9;
          }
        }
        &:nth-child(even) {
          .ui-grid-cell {
            background-color: #fff;
          }
        }
        &:hover .ui-grid-cell {
          background-color: #eaeaea; 
        } 
        &.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
          background-color: #a6b3cd;
          color: #151515;
        }
        .ui-grid-cell {
          border-right: 1px solid;
          border-left: 1px solid;
          border-top: 2px solid;
          border-color: #ddd;
          height: 38px;
          &:nth-child(2) {
            text-align: center;
          }
        }
      }
    }
    .ui-grid-pager-panel {
      padding: 5px 0;
      border-top: 2px solid;
      border-color: #ddd;
      .ui-grid-pager-control-input {
        width: 100px;
      }
    }
  }

  .pages-navigation-bar {
    margin-left: -15px;
    border-right: 1px solid #eeeeee;

    .pages-navigation-menu {
      & > li > a {
        border-radius: 0;
        padding: 10px 30px;
        border-top:     1px solid #eeeeee;
        border-bottom:  1px solid #eeeeee;
        background-color: #f2f6f9;
        color: #777777;
        span {
          margin-right: 5px;
        }
        &:hover {
          background-color: #E0E4F1;
          color: #547ea8;
        }
        .caret {
          margin-left: 5px;
        }
      }
      .pages-navigation-submenu {
        & > li {
          margin-top: 0;
          border-bottom: 1px solid #ddd;
          & > a {
            color: #777777;
            padding: 10px 30px;
            span {
              margin-right: 5px;
            }
            &:hover {
              background-color: #E0E4F1;
              color: #547ea8;
            }      
          } 
        }
      }      
    }
  }

  .main-view {
    width: 100%; 
    height: 100%;
    h2 {
      color: #2b81af;
      margin: 20px 0;
    }

    .jumbotron-main {
      margin: 20px 50px 20px 20px;
    }
  }

  .modal-dialog {
    width: 1200px;

    #modal-grid {
      height: 500px;
    }
  }

  #business_id_dropdown {
    height: 300px;
    overflow: auto;
  }
}
/*****************************/